<div class="container-fluid py-4">
  <div class="row pt-7">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-header d-flex justify-content-between pb-0 px-3">
          <div class="col-4 pt-1">
            <h6 class="mb-0">Appointments</h6>
          </div>
          <div class="col-4 pt-1">
            <a class="btn bg-gradient-dark mb-0" (click)="open(appmodel)"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Appointment</a>
          </div>
          <div class="col-4 pt-1">
            <a class="btn bg-gradient-dark text-white mb-0" (click)="open(mymodal)"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Paitent</a>
          </div>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group"  *ngIf="appointments">
            <li *ngFor="let appoint of appointments" class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <span class="mb-2 text-xs">Start Date: <span class="text-dark font-weight-bold ms-sm-2">{{appoint?.startDateTime}}</span></span>
                <span class="mb-2 text-xs">Detail: <span class="text-dark ms-sm-2 font-weight-bold">{{appoint?.detail}}</span></span>
                <span class="text-xs">Doctor Name: <span class="text-dark ms-sm-2 font-weight-bold">{{appoint?.doctor.name}}</span></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Paitent</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="Paitentform" (ngSubmit)="onFormSubmit()" role="form">
        <label>Name</label>
        <div class="mb-3">
          <input formControlName="name" type="text" class="form-control" placeholder="Name" aria-label="Email" aria-describedby="email-addon">
          <div *ngIf="name?.touched && name.invalid">
            <p class="text-danger" *ngIf="name.hasError('required')">Paitent Name is required.</p>
          </div>
        </div>
        <label>Phone</label>
        <div class="mb-3">
          <input  formControlName="phone" type="number" class="form-control" placeholder="Phone" aria-label="Password" aria-describedby="password-addon">
          <div *ngIf="phone?.touched && phone.invalid">
            <p class="text-danger" *ngIf="phone.hasError('required')">Phone is required.</p>
          </div>
        </div>
        <label>Address</label>
        <div class="mb-3">
          <input type="text" formControlName="address" class="form-control" placeholder="Address" aria-label="Email" aria-describedby="email-addon">
          <div *ngIf="address?.touched && address.invalid">
            <p class="text-danger" *ngIf="address.hasError('required')">Address is required.</p>
          </div>
        </div>
        <label>Birth Date</label>
        <div class="mb-3">
          <input type="date"  formControlName="birthDate" class="form-control" placeholder="Birth Date" aria-label="Email" aria-describedby="email-addon">
          <div *ngIf="bithDate?.touched && bithDate.invalid">
            <p class="text-danger" *ngIf="bithDate.hasError('required')">BirthDate is required.</p>
          </div>
        </div>

        <label for="roles">Gender</label>
        <div class="mb-3">
          <select formControlName="sex" class="form-control" name="roles" id="roles">
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
          <div *ngIf="sex.touched && sex.invalid">
            <p class="text-danger" *ngIf="sex.hasError('required')">Gender is required.</p>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" [disabled]="!Paitentform.valid" class="btn bg-gradient-info w-100 mt-4 mb-0">Add</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>


<ng-template #appmodel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Appointment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="appointForm" (ngSubmit)="onapppointFormSubmit()" role="form">
        <label>Start Date and Time</label>
        <div class="mb-3">
          <input formControlName="startDateTime" type="datetime-local" class="form-control" placeholder="Start Date and Time" aria-label="Email" aria-describedby="email-addon">
          <div *ngIf="start?.touched && start.invalid">
            <p class="text-danger" *ngIf="start.hasError('required')">Start Date and Time is required.</p>
          </div>
        </div>
        <label>Detail</label>
        <div class="mb-3">
          <input  formControlName="detail" type="text" class="form-control" placeholder="Detail" aria-label="Password" aria-describedby="password-addon">
          <div *ngIf="detail?.touched && detail.invalid">
            <p class="text-danger" *ngIf="detail.hasError('required')">Details is required.</p>
          </div>
        </div>

        <label for="paitents">Paitent</label>
        <div class="mb-3">
          <select formControlName="patientId" *ngIf="paitents.length > 0" class="form-control" name="paitents" id="paitents">
            <option *ngFor="let paitent of paitents;" value="{{paitent.id}}">{{paitent.name}}</option>
          </select>
          <div *ngIf="patient.touched && patient.invalid">
            <p class="text-danger" *ngIf="patient.hasError('required')">Please Select a Paitent.</p>
          </div>
        </div>
        <label for="doctors">Doctor</label>
        <div class="mb-3">
          <select formControlName="doctorId" *ngIf="doctors.length > 0" class="form-control" name="doctors" id="doctors">
            <option *ngFor="let doctor of doctors;" value="{{doctor.id}}">{{doctor.name}}</option>
          </select>
          <div *ngIf="doctor.touched && doctor.invalid">
            <p class="text-danger" *ngIf="doctor.hasError('required')">Please Select a Doctor.</p>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" [disabled]="!appointForm.valid" class="btn bg-gradient-info w-100 mt-4 mb-0">Add</button>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
