<main class="main-content mt-0 ps">
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row mt-4 pt-7">
          <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="d-flex flex-column h-100">
                      <p class="mb-1 pt-2 text-bold">DMS</p>
                      <h5 class="font-weight-bolder">Data Management System</h5>
                      <p class="mb-5">ERD Diagram Solution </p>

                    </div>
                  </div>
                  <div class="col-lg-8 ms-auto text-center mt-5 mt-lg-0">
                      <div class="position-relative d-flex align-items-center justify-content-center h-100">
                        <img class="w-100 position-relative z-index-2 pt-4" src="../../../assets/backgrounds/erdigaram.png" alt="rocket">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        </div>
      </div>
  </section>
</main>
